.js #caseresults{
	display: none;
}
.js h3{
	display: none;
}
.js h2{
	display: none;
}
.js .trebuschet{
	display: none;
}
.js .lubalin{
	display: none;
}
.js .font-small{
	display: none;
}
.js .caselinks{
	display: block;
}