@import "compass";
@import "retina";
@import "normalize";
@import "config";

/*** Alignment ***/

.alignright { text-align: right; }
.alignleft { text-align: left; }
.aligncenter { text-align: center; }
.left { float: left; }
.right { float: right; }
.center { margin-left: auto; margin-right: auto; }


.clearfix:after, .ngg-clear:after, .clear:after, .row:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; } /* Clearfix for floating elements, an old CSS weakness */

/*** Code ***/

pre { margin: 15px 0px; padding: 10px; color: #222; line-height: 16px; margin-bottom: 18px; padding: 1.5em; font-size: 0.9em; word-wrap: break-word; }
code {	display:block; direction:ltr; text-align:left; font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; word-wrap: break-word; }


/*** Fluid grid ***/

.row { width: 100%; position: relative; margin: 0 auto; }
.column { margin-left: 2.564102564%; margin-right:0px; float: left; }
.column:first-child { margin-left: 0; }
.column.grid-1{width: 5.982905983%;}
.column.grid-2{width: 14.529914530000001%;}
.column.grid-3{width: 23.076923077%;}
.column.grid-4{width: 31.623931624%;}
.column.grid-5{width: 40.170940171000005%;}
.column.grid-6{width: 48.717948718%;}
.column.grid-7{width: 57.264957265%;}
.column.grid-8{width: 65.81196581200001%;}
.column.grid-9{width: 74.358974359%;}
.column.grid-10{width: 82.905982906%;}
.column.grid-11{width: 91.45299145300001%;}
.column.grid-12 {width: 100%;}

.nomargin .column { margin: 0; }
.nomargin .column.grid-1 { width: 8.33333%; }
.nomargin .column.grid-2 { width: 16.66666%; }
.nomargin .column.grid-3 { width: 25%; }
.nomargin .column.grid-4 { width: 33.33333%; }
.nomargin .column.grid-5 { width: 41.66666%; }
.nomargin .column.grid-6 { width: 50%; }
.nomargin .column.grid-7 { width: 58.33333%; }
.nomargin .column.grid-8 { width: 66.66666%; }
.nomargin .column.grid-9 { width: 75%; }
.nomargin .column.grid-10 { width: 83.33333%; }
.nomargin .column.grid-11 { width: 91.66666%; }
.nomargin .column.grid-12 { width: 100%; }

/*** Typography ***/

html { font-size: 62.5%; -webkit-text-size-adjust: none; }

body { font-family: 'ChaletBook-Regular', Helvetica, Arial, sans-serif; color: $body-font-color; font-size: 14px; font-size: 1.4rem; line-height: 21px; line-height: 2.1rem; }

h1 { font-size: 30px; font-size: 3.0rem; line-height: 27px; line-height: 2.7rem; font-family: 'DalaFloda-Black';}
h2 { font-size: 24px; font-size: 2.4rem; line-height: 28px; line-height: 2.8rem; color: #2a2a2a; font-family: 'DalaFloda-Black'; }
h3 { font-size: 21px; font-size: 2.1rem; line-height: 24px; line-height: 2.4rem; font-family: 'DalaFloda-Black'; }
h4 { font-size: 18px; font-size: 1.8rem; line-height: 21px; line-height: 2.1rem; }
h5 { font-size: 16px; font-size: 1.6rem; line-height: 18px; line-height: 1.8rem; color: #b2b2b2; }

.strong { font-weight: bold; }

.small { font-size: 14px; font-size: 1.2rem; line-height: 18px; line-height: 1.8rem; }
.large { font-size: 16px; font-size: 1.6rem; line-height: 24px; line-height: 2.4rem; }

.red { color: #e30126; }
.blue { color: #004b8d; }
.green { color: #78be37; }
.light { color: #808080; }

a { color: $body-font-color; text-decoration: none; font-family: 'DalaFloda-Black';}
a:hover { color: $link-font-color; }

/*** Globals ***/

html, body { background: #fff; }

body { position: relative; width: 100%; min-height: 100%; -webkit-tap-highlight-color: rgba(0,0,0,0); }

h1, h2, h3, h4, h5 { padding: 0 0 12px; margin: 0; }

p { margin: 0; padding: 0 0 12px; }

a, a:focus, a:active, a:hover { outline: none; }

img { display: block; max-width: 100%; height: auto; margin: 0; }

.content img, .sidebar img { @include border-radius(5px); }

input:focus { outline: none; }

iframe { border: 0; }

/*** Webfonts ***/

@font-face {
    font-family: 'dallaswebicons';
    src: url('../fonts/dallaswebicons-book.eot');
    src: url('../fonts/dallaswebicons-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dallaswebicons-book.woff') format('woff'),
         url('../fonts/dallaswebicons-book.ttf') format('truetype'),
         url('../fonts/dallaswebicons-book.svg#dallaswebicons-book') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DalaFloda-Black';
    src: url('../fonts/DalaFloda-Black.eot');
    src: url('../fonts/DalaFloda-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DalaFloda-Black.woff') format('woff'),
         url('../fonts/DalaFloda-Black.svg#DalaFloda-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DalaFloda-BlackItalic';
    src: url('../fonts/DalaFloda-BlackItalic.eot');
    src: url('../fonts/DalaFloda-BlackItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DalaFloda-BlackItalic.woff') format('woff'),
         url('../fonts/DalaFloda-BlackItalic.svg#DalaFloda-BlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChaletBook-Bold';
    src: url('../fonts/ChaletBook-Bold.eot');
    src: url('../fonts/ChaletBook-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ChaletBook-Bold.woff') format('woff'),
         url('../fonts/ChaletBook-Bold.svg#ChaletBook-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChaletBook-BoldItalic';
    src: url('../fonts/ChaletBook-BoldItalic.eot');
    src: url('../fonts/ChaletBook-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ChaletBook-BoldItalic.woff') format('woff'),
         url('../fonts/ChaletBook-BoldItalic.svg#ChaletBook-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChaletBook-Italic';
    src: url('../fonts/ChaletBook-Italic.eot');
    src: url('../fonts/ChaletBook-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ChaletBook-Italic.woff') format('woff'),
         url('../fonts/ChaletBook-Italic.svg#ChaletBook-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChaletBook-Regular';
    src: url('../fonts/ChaletBook-Regular.eot');
    src: url('../fonts/ChaletBook-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ChaletBook-Regular.woff') format('woff'),
         url('../fonts/ChaletBook-Regular.svg#ChaletBook-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}