@import "base";



/*================
=====HEADER=======
================*/

header{
	position: absolute;
	width: 100%;
	height: 206px;
	@include box-sizing(border-box);
	z-index: 10;
	top: 60px;
	@include transition(height .3s);
	background-image: url('../images/transparent.png');
}

.fixedHeader{
	position: fixed;
	top: -91px;
	overflow: hidden;
	height: 153px;

	#statement h1{
		display: none;
	}
}

#transpbg{
	position: absolute;
	width: 100%;
}

#statement{
	position: relative;
	max-width: 530px;
	width: 100%;
	margin: 0 auto;


	#logo{
		width: 257px;
		height: 113px;
		position: relative;
		top: -28px;
		margin: 0 auto;
		background-image: url('../images/logoornament.png');
	}

	img{
		margin: 0 auto;
	}

	img:nth-child(2){
		position: relative;
		top: -12px;
	}

	img:last-child{
		position: relative;
		top: 9px;
	}


	h1{
		position: relative;
		margin: 0;
		padding: 0;
	}

}

#menu{
	position: absolute;
	top: 54px;
	right: 120px;

	ul{
		list-style: none;
		list-style-type: none;
		margin: 0;
		padding: 0;

		p{
			margin: 0;
			padding: 0;
			display: inline;
			color: #e20060;
		}

		li{
			float: left;

		}
	}
}




/*================
=======MAIN=======
================*/

#main{

	.column{
		position: relative;

		> img{
			width: 100%;
			height: auto;
		}

		.hoverContent{
			visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color: #ffffff;
			@include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%));

			.textHolderLarge{
				position: absolute;
				bottom: 35px;
				text-align: center;
				width: 60%;
				padding: 0 20%;

				img{
					margin: 0 auto;
					margin-bottom: 15px;
				}

			}

			.textHolderSmall{
				position: absolute;
				top: 15px;
				text-align: center;
				width: 80%;
				padding: 0 10%;

				img{
					margin: 0 auto;
					margin-bottom: 15px;
				}
			}

			.playvideo{
				width: 69px;
				height: 48px;
				margin: 0 auto;
				background-image: url('../images/play.png');
				margin-bottom: 15px;
				cursor: pointer;
			}

			.pausevideo{
				width: 69px;
				height: 48px;
				margin: 0 auto;
				background-image: url('../images/pause.png');
				margin-bottom: 15px;
				cursor: pointer;
			}

			a{
				font-family: 'ChaletBook-Regular', Helvetica, Arial, sans-serif; 
				color: $body-font-color; 
				font-size: 15px; 
				font-size: 1.5rem; 
				line-height: 20px; 
				line-height: 2rem; 
				font-weight: 100;
			}
			a:hover{
				color: $link-font-color;
			}
		}

		.mobileTitleHolder{
			display: none;
		}

		.fluidMedia {
		    position: relative;
		    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
		    height: 0;
		    overflow: hidden;

		    > iframe {
			    position: absolute;
			    top: 0; 
			    left: 0;
			    width: 100%;
			    height: 100%;
			}

			> img{
				min-width: 100%;
				height: auto;
			}
		}


		&:hover .hoverContent, {
			visibility: visible;
		}
	}

	.grid-6{

		.hoverContent{
			@include background-image(linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%));
		}
	}


	.contact{
		background-color: #d8025e;

		.contactinfo{
			position: relative;
			width: 100%;
			max-width: 700px;
			margin: 0 auto;
			padding: 25px;
			@include box-sizing(border-box);

			img{
				margin: 0 auto;
			}

			.ornament{
				margin-top: 20px;
			}

			.numbers{
				margin-top: 20px;
				margin-bottom: 5px;
				width: 100%;

				h2{
					margin-top: 20px;
					display: inline;
				}

				span{
					margin: 0 10px;

					> img{
						position: relative;
						top: -3px;
						display: inline;
					}
				}	

			}

			span{
				color: #2a2a2a;
				margin: 0 10px;
			}
				
			a{
				color: #2a2a2a;

				&:hover{
					color: #ffffff;
				}
			}
		}
	}

}



/*================
======FOOTER======
================*/

footer{
	position: absolute;
	padding: 20px 30px 30px 30px;
	width: 100%;
	background-color: #4b4b4b;
	@include box-sizing(border-box);

	.rad{
		width: 100%;
		margin: 0 auto;

		img{
			display: inline;
			margin: 0 auto;
			margin-right: 20px;
			margin-top: 10px;
		}
	
	}

	#rad1{
		text-align: center;
		max-width: 1230px;
	}

	#rad2{
		text-align: center;
		max-width: 930px;
	}
}



/*================
===MEDIAQUERIES===
================*/


@media all and (max-width:$mq-tablet-portrait){


	header{
		height: 62px;
		position: fixed;
		top: 0;
		background-color: #000000;

		#statement{

			img{
				display: none;
			}

			#logo{
				width: 150px;
				height: 25px;
				top: 20px;
				background-image: url('../images/logoclean.png');
			}

			h1{
				display: none;
			}
		}

		#menu{
			top: 22px;
			right: 20px;
		}
	}

	#main{
		position: relative;
		top: 62px;

		.nomargin {

			.grid-6{
				width: 100%;
			}

			.column{
				.hoverContent{
					display: none;
				}

				.mobileTitleHolder{
					position: relative;
					display: block;
					height: 56px;
					width: 100%;
					background-color: #2a2a2a;
					padding: 18px;
					@include box-sizing(border-box);

					h3{
						font-size: 1.4rem;
						float: left;
					}

					a{
						font-size: 1.4rem;
						line-height: 24px; 
						line-height: 2.4rem; 
						font-family: 'DalaFloda-Black'; 
						font-weight: 100;
						float: left;
						text-decoration: underline;
					}

					.mobilePlay{
						width: 17px;
						height: 24px;
						background-image: url('../images/play-mobile.png');
						float: right;
					}

					.mobilePause{
						width: 17px;
						height: 24px;
						background-image: url('../images/pause-mobile.png');
						float: right;
					}
				}
			}
		}

	}

	.mobilehide{
		display: none;
	}

	footer{
		margin-top: 62px;
	}

}

@media all and (max-width:$mq-mobile){

	#logo{
		position: absolute;
		float: left;
		left: 10px;
		background-image: url('../images/logoclean.png');
	}



	.numbers{

		h2{
			display: block !important;
			margin-top: 5px !important;
		}
	}

}

@media all and (max-width:$mq-mobile-wide){

	.textHolderSmall, .textHolderLarge{
		top: 15px;

		> h3{
			font-size: 16px;
		}

		> p{
			display: none;
		}
	}
}

